@media only screen and (max-width: 768px) {
    .navber-brand {
        padding-left: 1rem;
    }

    .section-1 .cover {
        background-position: -25vmin -10vmin;
    }

    .section-1 .cover {
        background-position: -25 -10px;
    }

    .number .rect {
        width: 10rem;
        height: 8rem;
    }

    .number .rect h1 {
        font-size: 2rem;
    }

    .section-3 {
        height: inherit;
        padding: 1vmin !important;
    }

    .section-3 .row h1 {
        padding: 1vmin !important;
    }

    .section-3 .platform .col-md-6 {
        text-align: center !important;
    }

    .section-3 .desktop i {
        font-size: 8vmin;
    }
    .section-4 .carousel-item {
        padding-left: 0.6rem;
    }

    footer .row .col-md-2 {
        margin-top: 8vmin;
    }
}

@media only screen and (max-width: 375px) {
    .section-4 .card {
        width: 18em;
    }
}
@media only screen and (max-width: 320px) {
    .section-4 .carousel-inner {
        margin-left: -4vmin;
    }
}
